* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Azeret Mono", monospace;
}

/* nav style */

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 38px 160px;
}

.download-btn{
    padding: 13px;
    font-size: medium;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
}

.img-class {
    background-image:url("../assets/Group.png"), url("../assets/Hero-bg.png");
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto, cover;
    background-position: top center, 0%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.nav-style {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 260px;
}


.nav-title {
    font-size: 48px;
    font-weight: 800;
}

.nav-sub-tile {
    font-size: 15px;
    color: rgb(13, 19, 33);
    margin-top: 20px;
}    

.img-bg {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
}

.main-content {
    width: 1140px;
    height: 1600px;
    border: 2px solid red;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.content {
    width: 946px;
    height: 286px;
    border: 2px solid black;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-repeat: no-repeat;
    padding: 50px;
    display: flex;
}

.img-layer {
    background-position: left;
}

.main-content .content h2 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
}

.para {
    margin-left: 50px;
}

.btn {
    padding: 13px;
    font-size: medium;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    margin: 30px 0; 
}

.btn-b {
    padding: 13px;
    font-size: medium;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    margin: 30px 49px;
}